footer {
	background: linear-gradient(90deg, #1c3643, #9b70ad 25%, #ed96f2);
	color: white;
	div.container {
		div.row {
			.text-center {
			}
			div {
				a {
					color: white;
				}
			}
		}
	}
}
