.nav.header {
	background-color: royalblue;
	div.container {
		border: 2px solid red;
		a.navbar-brand {
			img {
				border: 2px solid red;
			}
		}
		button.navbar-toggler {
			span {
			}
		}

		div.navbar {
			ul.navbar-nav {
				li {
					a.nav-link {
					}
				}
			}
		}
	}
}
